:root {
  --color-orange-400: oklch(75% 0.183 55.934);
  --color-orange-500: oklch(70.5% 0.213 47.604);
}

.api-key-display-secure {
  filter: blur(0px) !important;
  transition: none !important;
  cursor: pointer !important;
}

.api-key-display-censored {
  background: black !important;
  color: black !important;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.api-key-display-visible {
  background: none;
  color: var(--color-text-body);
  user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

.dropdown__menu-secure {
  visibility: hidden;
}

.dropdown__menu--open {
  visibility: visible;
}

.theming-menu__btn {
  background-color: var(--color-brown-500);
  font-size: 1.1rem;
  padding: .3rem .7rem;
  border: 2px solid var(--color-brown-700);
  border-radius: 5px;
  color: var(--color-bg);
  cursor: pointer;
  width: 100%;
}

.settings-form > .modal__actions {
  flex-wrap: wrap;
}

.settings-form > .modal__actions > input {
  flex: 1 0 50%;
  margin: 0;
}

.api-key__div {
  margin-top: 1.5rem;
}

.api-key-info__div {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
}

.api-key-container {
  align-items: center;
}

.themes {
  color: var(--color-text-body);
  margin: var(--space-xxxl) auto;
}

.themes .ui-heading {
  margin-bottom: var(--space-xl);
}

.ui-heading--orange .ui-heading__backdrop {
  background-color: var(--color-orange-400);
}

.ui-heading--orange .ui-heading__surface {
  background-color: var(--color-orange-500);
}

.themes__div-container {
  margin-top: var(--space-xl);
  position: relative;
  border-radius: var(--border-radius);
  padding: var(--space-xl);
  background: var(--color-tan-300);
  box-shadow: var(--shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.themes__div-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-bg);
  background-image: repeating-conic-gradient(from 0deg, rgba(0, 0, 0, 0.04) 0deg 90deg, transparent 90deg 180deg);
  background-size: 120px 120px;
  z-index: 0;
  pointer-events: none;
}

.themes__div-container > div {
  position: relative;
}

.themes__div-label-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.themes__div-options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.themes__div-option {
  padding: 1rem;
  border: 2px solid var(--color-tan-400);
  border-radius: 16px;
  box-shadow: var(--shadow);
  background: var(--color-tan-300) url(/assets/landing/hero/hero-bg-59d6bbf0.webp) repeat center center / 1200px;
  cursor: pointer;
  transition: all 150ms ease;
}

.themes__div-option[selected="true"] {
  padding: 2rem 1rem;
  border: 2px solid var(--color-brown-500);
}

/* .ruby-modified__proj-create-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
  width: 100%;
  min-height: 23rem;
  height: 100%;
  border-radius: calc(var(--border-radius) * 1.8);
  background-color: hsla(7, 30%, 37%, .3);
  color: var(--color-brown-500);
  font-family: var(--font-family-jua);
  font-size: var(--font-size-xl);
  text-decoration: none;
  overflow: hidden;
  transition: transform .2s ease;
}

.ruby-modified__proj-create-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--mask-url) center / 100% 100% no-repeat;
  pointer-events: none;
  z-index: 1;
} */

.report-btn {
  transition: all .2s ease !important;
}

.vote-action__div {
  display: flex !important;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.votes-new__prev-btn {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  transform: translateX(0%) !important;
}

.project-extra-info__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: var(--color-brown-700);
  background-image: url("https://i.ibb.co/mCg6W9br/chocolate-pattern.png");
  background-size: 52px;
}

.project-extra-info__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.project-extra-info__rating {
  font-size: 1rem;
}

.project-extra-info__rating--awful {
  color: var(--color-red-400);
}

.project-extra-info__rating--bad {
  color: var(--color-red-400);
}

.project-extra-info__rating--great {
  color: var(--color-blue-300);
}

.project-extra-info__rating--good {
  color: var(--color-green-400);
}

.project-extra-info__rating--okay {
  color: var(--color-yellow-400);
}

.shop-goals__remove {
  position: static !important;
  top: 0 !important;
  right: 0 !important;
}

.shop-goals-action__div {
  display: flex;
  flex-direction: row;
  gap: .25rem;
  margin-bottom: .5rem;
}

.shop-goals-quantity__input {
  margin-right: auto;
  border: 0;
  border-radius: 8px;
  background: var(--color-bg);
  color: var(--color-text-body);
  padding: 0 1rem;
}

/** RUBY THEME **/

[data-theme="bg-color-ruby"] {
  --bg-primary: #6e0c16ff;
  --text-primary: #d4d4d4ff;
  --text-highlight: #f5d0d0;

  --surface-header: #81101bff;
  --surface-header-backdrop: #9c1422ff;
  --surface-card: #a00e1dff;
  --surface-dark: #650a0a;

  --accent: #be0a1cff;
  --accent-darker: #7c0b16ff;
  --border-color: #591212;
  --accent-muted: rgb(214, 144, 151);
  --accent-semi-transparent: hsla(354, 90%, 39%, 0.3);

  --kitchen-bar-border: #850f1bff;
  --kitchen-bar-bg: #db8b8bff;
  --kitchen-gradient: linear-gradient(90deg, #8d0816ff 0%, #be0a1cff 100%);

  --input-main-bg: hsl(0deg 100% 27.24%);
  --input-sub-bg: hsl(0deg 92.89% 23.75%);
  --input-sub-text: hsl(0deg 49.1% 83.27%);

  --create-project-url: url("https://i.ibb.co/0RB40Sgg/aaa-1x.webp");
}

/** CATPUCCIN MOCHA THEME **/

[data-theme="bg-color-catpuccin-mocha"] {
  --bg-primary: #1e1e2e;
  --text-primary: #bac2de;
  --text-highlight: #cdd6f4;

  --surface-header: #585b70;
  --surface-header-backdrop: #45475a;
  --surface-card: #6c7086;
  --surface-dark: #313244;

  --accent: #7ca6e9;
  --accent-darker: #6490d6;
  --border-color: #537fc5;
  --accent-muted: #9cadc7;
  --accent-semi-transparent: hsla(217, 71%, 70%, 0.3);

  --kitchen-bar-border: #6692da;
  --kitchen-bar-bg: #9fc4ff;
  --kitchen-gradient: linear-gradient(90deg, #537fc5 0%, #6892d4 100%);

  --input-main-bg: #6a93d4;
  --input-sub-bg: #4e79be;
  --input-sub-text: #bac2de;

  --create-project-url: url("https://i.ibb.co/V04Z5R31/Mask-group-10.png");
}

[data-theme] {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
  background-image: var(--theme-bg-image) !important;
}

[data-theme] .ui-heading__surface {background-color: var(--surface-header) !important;}
[data-theme] .ui-heading__backdrop {background-color: var(--surface-header-backdrop) !important;}
[data-theme] .sidebar__user-card {background-color: var(--surface-card) !important;}
[data-theme] .sidebar__user-avatar {background-color: var(--accent) !important;}
[data-theme] .sidebar__user-name {background-color: var(--accent) !important;}
[data-theme] .sidebar__blob {background-color: var(--accent-darker) !important;}
[data-theme] .sidebar__nav-link--active::before {background-color: var(--accent) !important;}
[data-theme] .sidebar__nav-link--active > .sidebar__nav-icon-wrapper {background: var(--accent-darker) !important;}

[data-theme] .kitchen-setup::before,
[data-theme] .kitchen-help::before,
[data-theme] .projects-new__card::before {
  background-color: var(--bg-primary) !important;
}

[data-theme] .tutorial-steps__title,
[data-theme] .tutorial-steps__progress-text,
[data-theme] .projects-board__subtitle {
  color: var(--text-primary) !important;
}

[data-theme] .tutorial-steps__progress-bar {
  border: 3px solid var(--kitchen-bar-border) !important;
  background-color: var(--kitchen-bar-bg) !important;
}
[data-theme] .tutorial-steps__progress-fill {background: var(--kitchen-gradient) !important;}

[data-theme] .explore__nav,
[data-theme] .post,
[data-theme] .project-card,
[data-theme] .project-show-card,
[data-theme] .btn--brown,
[data-theme] .projects-board__grid-item > .project-card {
  background-color: var(--surface-dark) !important;
  border-color: var(--border-color) !important;
}
[data-theme] .explore__nav-component.selected {background-color: var(--border-color);}

[data-theme] .post::after {background-color: var(--surface-dark) !important; border-color: var(--border-color) !important;}
[data-theme] .post .post__attachment,
[data-theme] .project-show-card .project-card__banner-image,
[data-theme] .project-card__banner-image,
[data-theme] .post .post__chevron,
[data-theme] .post .comments-section__list,
[data-theme] .post .comment-form__input,
[data-theme] .project-show-card .project-extra-info__div {
  background-color: var(--border-color) !important;
}

[data-theme] .post .comment-form__input,
[data-theme] .post .comments-section__list {
  color: var(--text-highlight) !important;
}

[data-theme] .projects-board__title {color: var(--text-highlight) !important};
[data-theme] .projects-board__subtitle {color: var(--text-primary) !important};

[data-theme] .projects-board__create-card {
  background-color: ''; /* fucks your default bs */
}
[data-theme] .projects-board__create-card {
  background-color: var(--accent-semi-transparent) !important;
}
[data-theme] .projects-board__create-card::before {
  background: var(--create-project-url) center / 100% 100% no-repeat !important;
}

[data-theme] .project-card__stats svg,
[data-theme] .projects-board__create-card > svg,
[data-theme] .post .comment-delete,
[data-theme] .projects-show__admin-actions svg,
[data-theme] .projects-board__create-card > span {
  color: var(--text-highlight) !important;
}

[data-theme] .projects-new__card .projects-new__field > .input {
  --input-bg: var(--input-main-bg) !important;
  --input-focus-ring: var(--accent) !important;
  --input-placeholder-color: var(--accent-muted) !important;
  --input-subtitle-bg: var(--input-sub-bg) !important;
  --input-subtitle-color: var(--input-sub-text) !important;
}

[data-theme] .projects-new__card .input-group::before,
[data-theme] .projects-new__card .hackatime-project-selector::before,
[data-theme] .projects-new__card .hackatime-project-selector__label,
[data-theme] .projects-new__card .input-group__label {background-color: var(--input-main-bg) !important;}

[data-theme] .projects-new__card .input-group__subtitle,
[data-theme] .projects-new__card .hackatime-project-selector__subtitle { 
  background-color: var(--input-sub-bg) !important; 
  color: var(--input-sub-text) !important; 
}

[data-theme] .projects-new__card .input__icon {background-color: var(--input-sub-bg) !important;}

[data-theme] .projects-new__card .file-upload__dropzone {
  --file-upload-border-color: var(--accent) !important;
  --file-upload-background: var(--border-color) !important;
}
[data-theme] .projects-new__card .file-upload__headline, 
[data-theme] .projects-new__card .file-upload__hint,
[data-theme] .project-card__content p:not(.project-card__description),
[data-theme] .project-card__content .project-card__title-link,
[data-theme] .project-show-card__byline,
[data-theme] .project-show-card__stat > span,
[data-theme] .project-show-card__stat > svg {color: var(--text-highlight) !important;}
[data-theme] .projects-board__header > .btn.btn--red,
[data-theme] .projects-show__container > .mt-4 > .btn.btn--brown {
  background-color: var(--accent) !important;
  color: var(--text-highlight) !important;
  border-color: var(--border-color) !important;
}
[data-theme] .project-card__stats > h5 {
  background-color: var(--text-highlight) !important;
  color: var(--border-color) !important;
}
[data-theme] .project-card__stats .project-card__stats-icon {
  color: var(--border-color) !important;
  filter: drop-shadow(5px 0 0 var(--text-highlight)) drop-shadow(-5px 0 0 var(--text-highlight)) drop-shadow(0 5px 0 var(--text-highlight)) drop-shadow(0 -5px 0 var(--text-highlight)) !important;
}
[data-theme] .project-show-card__title-text {
  color: var(--accent) !important;
}
[data-theme] .project-extra-info__container > svg {
  color: var(--text-highlight) !important;
}
[data-theme] .project-show-card__actions > .btn.btn--brown.btn--borderless {
  color: var(--text-highlight) !important;
}

[data-theme] .state-card--success {
  --state-card-accent: var(--accent-darker) !important;
  background-color: var(--accent-darker) !important;
  border-color: var(--border-color) !important;
  filter: blur(1.5px) !important;
}

[data-theme] .state-card--neutral,
[data-theme] .state-card--warning {
  --state-card-accent: var(--accent) !important;
  background-color: var(--accent) !important;
  border-color: var(--accent-darker) !important;
}


[data-theme] .state-card--success .state-card__title,
[data-theme] .state-card--success .state-card__icon-circle,
[data-theme] .state-card--warning .state-card__cta > a,
[data-theme] .state-card--neutral .state-card__cta > a {
  color: var(--border-color) !important;
}

[data-theme] .state-card--success .state-card__badge,
[data-theme] .state-card--success .state-card__icon-circle {
  background: var(--border-color) !important;
}

[data-theme] .state-card--success .state-card__badge {
  color: var(--accent-darker) !important;
}

[data-theme] .state-card--success .state-card__description {
  color: var(--border-color) !important;
}

[data-theme] .state-card--warning .state-card__title,
[data-theme] .state-card--neutral .state-card__title {
  color: var(--text-highlight) !important;
}

[data-theme] .state-card--warning .state-card__description,
[data-theme] .state-card--neutral .state-card__description {
  color: var(--text-primary) !important;
}

[data-theme] .state-card--warning .state-card__badge {
  background: var(--accent-darker) !important;
  color: var(--text-primary) !important;
}

[data-theme] .state-card--warning .state-card__icon-circle {
  background: var(--accent-darker) !important;
}