:root {
  --color-orange-400: oklch(75% 0.183 55.934);
  --color-orange-500: oklch(70.5% 0.213 47.604);
}

.api-key-display-secure {
  filter: blur(0px) !important;
  transition: none !important;
  cursor: pointer !important;
}

.api-key-display-censored {
  background: black !important;
  color: black !important;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.api-key-display-visible {
  background: none;
  color: var(--color-text-body);
  user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

.dropdown__menu-secure {
  visibility: hidden;
}

.dropdown__menu--open {
  visibility: visible;
}

.theming-menu__btn {
  background-color: var(--color-brown-500);
  font-size: 1.1rem;
  padding: .3rem .7rem;
  border: 2px solid var(--color-brown-700);
  border-radius: 5px;
  color: var(--color-bg);
  cursor: pointer;
  width: 100%;
}

.settings-form > .modal__actions {
  flex-wrap: wrap;
}

.settings-form > .modal__actions > input {
  flex: 1 0 50%;
  margin: 0;
}

.api-key__div {
  margin-top: 1.5rem;
}

.api-key-info__div {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
}

.api-key-container {
  align-items: center;
}

.themes {
  color: var(--color-text-body);
  margin: var(--space-xxxl) auto;
}

.themes .ui-heading {
  margin-bottom: var(--space-xl);
}

.ui-heading--orange .ui-heading__backdrop {
  background-color: var(--color-orange-400);
}

.ui-heading--orange .ui-heading__surface {
  background-color: var(--color-orange-500);
}

.themes__div-container {
  margin-top: var(--space-xl);
  position: relative;
  border-radius: var(--border-radius);
  padding: var(--space-xl);
  background: var(--color-tan-300);
  box-shadow: var(--shadow);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.themes__div-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-bg);
  background-image: repeating-conic-gradient(from 0deg, rgba(0, 0, 0, 0.04) 0deg 90deg, transparent 90deg 180deg);
  background-size: 120px 120px;
  z-index: 0;
  pointer-events: none;
}

.themes__div-container > div {
  position: relative;
}

.themes__div-label-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.themes__div-options-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.themes__div-option {
  padding: 1rem;
  border: 2px solid var(--color-tan-400);
  border-radius: 16px;
  box-shadow: var(--shadow);
  background: var(--color-tan-300) url(/assets/landing/hero/hero-bg-59d6bbf0.webp) repeat center center / 1200px;
  cursor: pointer;
  transition: all 150ms ease;
}

.themes__div-option[selected="true"] {
  padding: 2rem 1rem;
  border: 2px solid var(--color-brown-500);
}

/* .ruby-modified__proj-create-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
  width: 100%;
  min-height: 23rem;
  height: 100%;
  border-radius: calc(var(--border-radius) * 1.8);
  background-color: hsla(7, 30%, 37%, .3);
  color: var(--color-brown-500);
  font-family: var(--font-family-jua);
  font-size: var(--font-size-xl);
  text-decoration: none;
  overflow: hidden;
  transition: transform .2s ease;
}

.ruby-modified__proj-create-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--mask-url) center / 100% 100% no-repeat;
  pointer-events: none;
  z-index: 1;
} */

.report-btn {
  transition: all .2s ease !important;
}

.vote-action__div {
  display: flex !important;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.votes-new__prev-btn {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  transform: translateX(0%) !important;
}

.project-extra-info__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: var(--color-brown-700);
  background-image: url("https://i.ibb.co/mCg6W9br/chocolate-pattern.png");
  background-size: 52px;
}

.project-extra-info__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.project-extra-info__rating {
  font-size: 1rem;
}

.project-extra-info__rating--awful {
  color: var(--color-red-400);
}

.project-extra-info__rating--bad {
  color: var(--color-red-400);
}

.project-extra-info__rating--great {
  color: var(--color-blue-300);
}

.project-extra-info__rating--good {
  color: var(--color-green-400);
}

.project-extra-info__rating--okay {
  color: var(--color-yellow-400);
}

.shop-goals__remove {
  position: static !important;
  top: 0 !important;
  right: 0 !important;
}

.shop-goals-action__div {
  display: flex;
  flex-direction: row;
  gap: .25rem;
  margin-bottom: .5rem;
}

.shop-goals-quantity__input {
  margin-right: auto;
  border: 0;
  border-radius: 8px;
  background: var(--color-bg);
  color: var(--color-text-body);
  padding: 0 1rem;
}

.ruby-modified.sidebar__nav-link--active::before {
  background-color: #a71423ff !important;
}

.ruby-modified.kitchen-setup::before {
  background-color: hsl(0deg 100% 23.3%) !important;
}

.ruby-modified.kitchen-help::before {
  background-color: hsl(0deg 100% 23.3%) !important;
}

.ruby-modified.state-card--success {
  --state-card-accent: #991313 !important;
  background: hsl(0deg 84.73% 24.38%) !important;
  border-color: hsl(0deg 82.42% 22.09%) !important;
  filter: blur(1.5px);
}

.ruby-modified.state-card--success .state-card__title {
  color: hsl(0deg 88.47% 14.28%) !important;
}

.ruby-modified.state-card--success .state-card__description {
  color: hsl(0deg 100% 14.25%) !important;
}

.ruby-modified.state-card--success .state-card__badge {
  background: hsl(0deg 82.42% 22.09%) !important;
  color: hsl(0deg 88.47% 14.28%) !important;
}

.ruby-modified.state-card--success .state-card__icon-circle {
  background: hsl(0deg 82.42% 22.09%) !important;
}

.ruby-modified.state-card--warning, .ruby-modified.state-card--neutral {
  --state-card-accent: hsl(0deg 74.08% 42.6%) !important;
  background: hsl(0deg 84% 32.6%) !important;
  border-color: hsl(0deg 78.22% 27.48%) !important;
}

.ruby-modified.state-card--warning .state-card__title, .ruby-modified.state-card--neutral .state-card__title {
  color: hsl(0deg 0% 100%) !important;
}

.ruby-modified.state-card--warning .state-card__description, .ruby-modified.state-card--neutral .state-card__description {
  color: #d4d4d4ff !important;
}

.ruby-modified.state-card--warning .state-card__badge {
  background: hsl(0deg 78.57% 27.45%) !important;
  color: white;
}

.ruby-modified.state-card--warning .state-card__icon-circle {
  background: hsl(0deg 78.57% 27.45%) !important;
}

.ruby-modified.post {
  background-color: #650a0a !important;
  border-color: #591212 !important;
}

.ruby-modified.post::after {
  background-color: #650a0a !important;
  border-color: #591212 !important;
}

.ruby-modified.post .post__attachment {
  background-color: #591212 !important;
}

.ruby-modified.post .comment-form__input {
  background-color: #591212 !important;
  color: #f5d0d0 !important;
}

.ruby-modified.post .btn {
  border-color: hsl(0, 88%, 16%) !important; 
}

.ruby-modified.post .post__chevron {
  background-color: #591212 !important;
}

.ruby-modified.post .comments-section__list {
  background-color: #591212 !important;
  color: #f5d0d0 !important;
}

.ruby-modified.project-card {
  background-color: #650a0a !important;
  border-color: #591212 !important;
}

.ruby-modified.project-card .project-card__stats > h5 {
  background-color: #591212 !important;
  color: #f5d0d0 !important;
}

.ruby-modified.project-card .project-card__stats svg {
  filter: drop-shadow(5px 0 0 #591212) drop-shadow(-5px 0 0 #591212) drop-shadow(0 5px 0 #591212) drop-shadow(0 -5px 0 #591212) !important;
  color: #f5d0d0 !important;
}